{% extends "base.html" %}
{% block pagename %}
			<h1>Choose a playlist to randomize. For reals.</h1>
{% endblock %}
{% block data %}
			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Playlists <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{% for item in sorted_array %}
						<li><a href="../playlist/{{ item.id }}">{{ item.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
{% endblock %}
