{% extends "base.html" %}
{% block pagename %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-6">
			<h1>{{ name }}</h1>
			<p>Enter a name for the new playlist:</p>
			{% import "bootstrap/wtf.html" as wtf %}
			{{ wtf.quick_form(form) }}
		</div>
		<div class="col-md-6">
			<img src={{ images[1].url }}></img>
		</div>
	</div>
</div>
{% endblock %}
{% block data %}
<div class="row">
  <div class="col-md-6">
			<h3>Original Playlist</h3>
			<ol>
			{% for item in track_names %}
				<li> {{ item }} </li>
			{% endfor %}
			</ol>
	</div>
  <div class="col-md-6">
		<!-- <h3 class="h3">Shuffled Playlist</h3> -->
		<form action="" class="form-inline" method="post" name="shuffle">
			<label><h3 class="h3">Shuffled Playlist</h3></label>
			<button type="submit" class="btn btn-primary" name="Shuffle"
				value="Shuffle Again">Shuffle Again</button>
		</form>
			<ol>
			{% for item in shuffled_names %}
				<li> {{ item }} </li>
			{% endfor %}
			</ol>
	</div>
</div>
{% endblock %}
